body {
    text-align: center;
    font-family: 'Arial', cursive;
    background-image: url(Imagenes/fondo.jpg);
    background-color: #d00000;
    color: #ffffff;

}

#logo {
    border-style: outset;
    width: 70px;
    float: left;
    border-radius: 60%;
}

.botones_menu {
    border-style: outset;
    background-color: #ffffff;
    color: #000000;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 50px;
    cursor: pointer;
    border-radius: 10px;
}

.botones_op {
    border-style: outset;
    background-color: #ffffff;
    color: #000000;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 50px;
    cursor: pointer;
    border-radius: 10px;
}

.botones_atras {
    border-style: outset;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 30px;
    float: right;
    text-decoration: #000000;
    display: inline-block;
    font-size: 15px;
    margin: 5px 50px;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-top: 250px;
    height: 100px;
}

#Alerta {
    width: 800px;
    position: relative;
    top:400px ;
    right: px;
    left: ;
    bottom: ;
}

table{
    background: white;
    color: #000000;
    font-weight: bold;
    position: relative;
    font-family: Arial;
    width: 400px;
    border-collapse: collapse;
    position: relative;
    left: 1400px;
    bottom: 100px;

}
th, td{
    border:solid 1px black;
    padding: 2px;
}
thead{
    background-color: darkred;
    border-bottom: solid 5px black;
    color: white;
}
tr:nth-child(even){
    background-color: #b0b0b0;
}