body {
    text-align: center;
    font-family: 'Arial', cursive;
    background-image: url(Imagenes/fondo2.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: 100%;
    background-attachment: fixed;
}
#logo {
    border-style: outset;
    width: 70px;
    float: left;
    border-radius: 60%;
}

.botones_menu {
    border-style: outset;
    background-color: #ffffff;
    color: #000000;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 50px;
    cursor: pointer;
    border-radius: 10px;
}

.botones_menu:hover {
    color: rgb(239, 53, 53) !important;
    box-shadow: 0 4px 16px rgb(255, 255, 255);
    transition: all 0.2s ease;
}

.botones_op{
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;
    border-style: outset;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    padding: 7px 25px;
    margin: 6px 50px;
    cursor: pointer;
}

.botones_op span{
    position: relative;
    z-index: 2;
}

.botones_op:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff0000;
    transition: all .35s;
}

.botones_op:hover{
    color: #fff;
}

.botones_op:hover:after{
    width: 100%;
}

.botones_atras {
    position: relative;
    display: inline-block;
    float: right;
    padding: 10px 30px;
    margin: 5px 50px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
}

.botones_atras:hover {
    color: #ffffff;
    background: #f85b5b;
    box-shadow: 0 0 10px #f66e6e, 0 0 40px #f32121, 0 0 80px #fd4a4a;
    transition-delay: 1s;
}


.botones_atras span {
    position: absolute;
    display: block;
}


.botones_atras span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f32121);
}


.botones_atras:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


.botones_atras span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f32121);
}

.botones_atras:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}


.botones_atras span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f32121);
}

.botones_atras:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.botones_atras span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f32121);
}

.botones_atras:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

#index_footer {
    font-weight: bold;
    text-align: left;
    height: 120px;
    position: relative;
    bottom: 0;
}
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 150px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    color: #ffffff;
}

.flip-card-back {
    color: #ffffff;
    font-size: 20px;
    transform: rotateY(180deg);
}

#general_footer {
    color: #000000;
    text-align: left;
    height: 100px;
    position: relative;
    bottom: 0;
    right: 0;
}

#parte_index {
    column-count: 3;
    column-gap: 3em;
    width: 90%;
    max-width: 2000px;
    margin: 20px auto;
}

#secion_sucursal {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding-top: 20px;
    column-count: 2;
    column-gap: 3em;
    position: relative;
}

#Alerta {
    width: 800px;
}

caption{
    color: #ffffff;
}
table {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
    width: 400px;
    border-collapse: collapse;
}

th, td {
    border: solid 1px #000000;
    padding: 2px;
}

thead {
    background-color: #d00000;
    border-bottom: solid 5px #000000;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #b0b0b0;
}

ol.sucursal {
    text-align: left;
    font-size: 25px;
}

#mapa {
    width: 400px;
    border-style: outset;
    border-color: #ffffff;
}

#edificio {
    width: 500px;
    position: relative;
    border-color: #ffffff;
    border-style: outset;
    margin-top: 20px;
}

#Historia {
    text-align: justify;
    font-size: 20px;
    margin: 20px;
    display: block;
}

.slider {

    width: 400px;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400px;
    animation: cambio 13s infinite alternate linear;
}

.slider li {
    width: 400px;
    list-style: none;
}

.slider img {
    width: 400px;
    display: block;
    line-height: 0;
}

.slider2 {
    width: 480px;
    margin: auto;
    overflow: hidden;


}

.slider2 ul {
    display: flex;
    padding: 0;
    width: 480px;
    animation: cambio 30s infinite alternate linear;
}

.slider2 li {
    width: 480px;
    list-style: none;
}

.slider2 img {
    width: 480px;
    display: block;
    line-height: 0;
}


@keyframes cambio {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }
    70% {
        margin-left: -100%;
    }

    75% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

canvas {
    border-style: outset;
}

@font-face {
    font-family: icon;
    src: url('https://bennettfeely.com/fonts/icons.woff');
}
