body {
    text-align: center;
    font-family: 'Arial', cursive;
    background-image: url(../Imagenes/fondo2.jpg);
    background-color: #000000;
    color: #ffffff;
}

#pie_pag {
    color: #ffffff;
}

.title {
    font-family: "Montserrat", serif;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    letter-spacing: 1px;
}

#UCCB {
    background-image: url(https://media.giphy.com/media/VFlFS32MRtV7XzO8KS/giphy.gif);
    background-color: #de1010;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 1;
    margin: 10px 0;
    filter: brightness(250%);
}

#logo {
    border-style: outset;
    width: 90px;
    float: left;
    border-radius: 60%;
}

.animacion {
    margin: 50px auto;
    width: 100%;
    max-width: 500px;
    height: 50px;
    background-position: center;
    background-size: 500px 50px;
    border-radius: 10px;
    font-family: 'Monserrat', serif;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;

}

.animacion:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.efecto {
    display: inline-block;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 45px;
    line-height: 50px;
    min-width: 50px;
    outline: none;
    vertical-align: middle;

    text-shadow: 0 3px 20px red,
    0 0 20px red,
    0 0 10px orange;
    animation: 2s efecto infinite alternate linear;
}

@keyframes efecto {
    0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 0 yellow;}
    25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
    0 0 10px orange,
    0 0 5px yellow;}
    50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 5px yellow; }
    75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 5px yellow;}
    100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 5px yellow; }
}

.botones_menu {
    background: linear-gradient(-30deg, #860000 50%, #b30000 50%);
    padding: 20px 40px;
    margin: 12px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: #f7d4d4;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.botones_menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ad8585;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}

.botones_menu:hover::before {
    opacity: 0.2;
}

.botones_menu span {
    position: absolute;
}

.botones_menu span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#ffffff));
    background: linear-gradient(to left, rgba(8, 20, 43, 0), #ffffff);
    -webkit-animation: 2s animateTop linear infinite;
    animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.botones_menu span:nth-child(2) {
    top: 0;
    right: 0;
    height: 100%;
    width: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#ffffff));
    background: linear-gradient(to top, rgba(8, 20, 43, 0), #ffffff);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.botones_menu span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(8, 20, 43, 0), #ffffff);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.botones_menu span:nth-child(4) {
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#ffffff));
    background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #ffffff);
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

select {
    -webkit-appearance: none;
    font-size: 20px;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background: #ab0000;
    background-image: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 300px;
    height: 50px;
    line-height: 3;
    background: #ee0000;
    overflow: hidden;
    margin: 50px auto;
}

select {
    flex: 1;
    padding: 0 1em;
    color: #ffffff;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #ee0000;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.select:hover::after {
    color: #ffffff;
}

input[type=number] {
    padding: 15px 20px;
    font-size: 20px;
    margin: 10px auto;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#fecha_P, #fecha_PF {
    font-family: 'Arial', cursive;
    font-size: 20px;
    border-radius: 10px;
    display: block;
    padding: 5px 10px;
    height: 42px;
    margin: 25px auto;
    min-width: 225px;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

#Total_PF,#Total_P,#Total_Cambio,#Cuotas_P{
    font-family: 'Arial', cursive;
    background-color: white;
    color: #000000;
    font-size: 20px;
    text-align: center;
    padding: 15px 20px;
    margin: 10px auto;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-appearance: textfield;
}

.boton_calculo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 200px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 100;
    color: #ffffff;
    background: #d41212;
    background: linear-gradient(90deg, rgb(184, 22, 22) 0%, rgb(238, 47, 47) 100%);
    border: none;

    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';

    min-width: calc(200px + 12px);
    min-height: calc(50px + 12px);
    border: 6px solid #ec2d2d;
    box-shadow: 0 0 60px rgb(252, 44, 44);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #ffffff;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.botones_atras {
    position: relative;
    display: inline-block;
    float: right;
    padding: 10px 30px;
    margin: 5px 50px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
}

.botones_atras:hover {
    color: #ffffff;
    background: #f85b5b;
    box-shadow: 0 0 10px #f66e6e, 0 0 40px #f32121, 0 0 80px #fd4a4a;
    transition-delay: 1s;
}


.botones_atras span {
    position: absolute;
    display: block;
}


.botones_atras span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f32121);
}


.botones_atras:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


.botones_atras span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f32121);
}

.botones_atras:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}


.botones_atras span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f32121);
}

.botones_atras:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.botones_atras span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f32121);
}

.botones_atras:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

footer {
    color: #000000;
    text-align: left;
    height: 100px;
    position: relative;
    bottom: 0;
    right: 0;
}

canvas {
    border-style: outset;
}