body {
    text-align: center;
    font-family: 'Arial', cursive;
    background-image: url(../Imagenes/fondo.jpg);
    background-color: #d00000;
    color: #ffffff;
}

#pie_pag {
    color: #ffffff;
}

#logo {
    border-style: outset;
    width: 70px;
    float: left;
    border-radius: 60%;
}

.botones_menu {
    border-style: outset;
    background-color: #ffffff;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 50px;
    cursor: pointer;
    border-radius: 10px;
    color: #000000;
}

select {
    border-radius: 10px;
    display: block;
    padding: 5px 10px;
    margin: 10px auto;
    min-width: 225px;
    -webkit-appearance: none;
    height: 34px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #b0b0b0 100%);
    width: 292px;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#fecha {
    font-family: 'Arial', cursive;
    border-radius: 10px;
    display: block;
    padding: 5px 10px;
    height: 42px;
    margin: 10px auto;
    min-width: 225px;
    -webkit-appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.botones_atras {
    border-style: outset;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 30px;
    float: right;
    text-decoration: #000000;
    display: inline-block;
    font-size: 15px;
    margin: 5px 50px;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-top: 250px;
    height: 100px;
}